body {
    background-image: url('https://images.unsplash.com/photo-1520106212299-d99c443e4568?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW9zY293fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
    background-repeat: none;
    background-size: cover;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.tetris {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas-container {
    height: 800px;
    width: 400px;
    position: relative;
    display: grid;
    place-content: center;
    border: 5px solid #ffa200;
}

.hud {
    padding: 1rem;
    background: white;
    border: 5px solid #a271ff;
    margin-left: 1rem;
}

.controls {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.controls > :not(:first-child) {
    margin-top: 10px;
}

.canvas-container > canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
